    @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merienda:wght@300;400;500;600;700;800;900&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
    }
    
    .container {
        width: 56%;
        margin: 0 auto;
    }
    
    .box {
        display: flex;
        margin-top: 40px;
        margin-left: 10%;
    }
    
    .m {
        font-family: Merienda;
        font-weight: 400;
        font-size: 60%;
        line-height: 17px;
        color: #FFFFFF;
        margin-left: 40px;
        cursor: pointer;
    }
    
    .menu_g {
        display: flex;
    }
    
    header {
        width: 100%;
        height: 80vh;
        margin-top: -56.52px;
        background: url(./img/background.png )no-repeat;
        background-size: 100% 100%;
    }
    
    .c_h {
        font-family: Merienda;
        font-weight: 400;
        font-size: 60%;
        line-height: 17px;
        color: #FFFFFF;
        margin-right: 40px;
        cursor: pointer;
    }
    
    .bean {
        width: 20%;
        margin-top: -20px;
    }
    
    .o_c {
        font-family: Merienda;
        font-weight: 400;
        font-size: 60%;
        line-height: 17px;
        margin-right: 40px;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    .f_y_p {
        font-family: Merienda;
        font-weight: 400;
        font-size: 60%;
        line-height: 17px;
        color: #FFFFFF;
        cursor: pointer;
    }
    
    .mari {
        font-family: Merienda;
        font-weight: 700;
        font-size: 200%;
        line-height: 58px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        padding-top: 18%;
    }
    
    .white {
        margin: 0 auto;
        margin-top: 20px;
    }
    
    .make {
        width: 100%;
        font-family: Merienda;
        font-weight: 700;
        font-size: 150%;
        line-height: 35px;
        color: #FFFFFF;
        margin: 0 auto;
    }
    
    .want {
        width: 40%;
        font-family: Merienda;
        font-weight: 700;
        font-size: 100%;
        line-height: 35px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
    }
    
    .more {
        font-family: Merienda;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        margin-top: 3px;
        color: #FFFFFF;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    .more_b {
        width: 120px;
        text-align: center;
        align-items: center;
        margin: 23px auto;
        height: 30px;
        border: 1px solid white;
        border-radius: 8%;
    }
    
    .about {
        font-family: Merienda;
        font-weight: 400;
        font-size: 100%;
        line-height: 35px;
        color: #000000;
    }
    
    .long_text {
        width: 100%;
        font-family: Merienda;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        margin: 30px auto;
    }
    
    .sect {
        width: 100%;
        background: url("./img/back.png");
    }
    
    .best {
        font-family: Merienda;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        margin-bottom: -8%;
    }
    
    .images {
        margin-top: 39px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        flex-flow: row wrap;
    }
    
    .box2 {
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .i3 {
        margin: 0 auto;
        text-align: center;
        margin-top: 5%;
        cursor: pointer;
        margin-bottom: 2%;
    }
    
    .i2 {
        margin: 0 auto;
        cursor: pointer;
        margin-top: 5%;
        text-align: center;
        margin-bottom: 2%;
    }
    
    .i1 {
        margin: 0 auto;
        cursor: pointer;
        margin-top: 5%;
        text-align: center;
        margin-bottom: 2%;
    }
    
    .box6 {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
    
    .box_b {
        display: flex;
        flex-flow: row wrap;
    }
    
    .c {
        margin-left: -190px;
        margin-top: 2%;
    }
    
    .o {
        margin-top: 2%;
        margin-left: 10%;
    }
    
    .f {
        margin-top: 2%;
        margin-left: 10%;
    }
    
    .image {
        margin-top: 3%;
        text-align: center;
    }
    
    .image2 {
        margin-left: 10%;
    }
    
    @media screen and (max-width: 425px) {
        .mari {
            font-size: 20px;
            padding-top: 100px;
        }
        .white {
            width: 70%;
        }
        .make {
            width: 100%;
            font-size: 20px;
            margin: 0 auto;
        }
        header {
            background-size: 200% 90%;
        }
        .long_text {
            width: 100%;
        }
        .image {
            margin-top: 3%;
            text-align: center;
        }
    }
    
    @media screen and (max-width: 375px) {
        .c {
            margin-top: 25px;
        }
        .o {
            margin-top: 25px;
        }
        .image {
            margin-top: 3%;
            text-align: center;
        }
        .image2 {
            margin-right: -10px;
            margin-top: 10px;
        }
    }
    
    @media screen and (max-width: 320px) {
        .c {
            margin: 10px auto;
        }
        .o {
            margin: 10px auto;
        }
        .image {
            margin-top: 3%;
            text-align: center;
        }
        .image2 {
            display: none;
        }
        .bean {
            width: 40%;
            height: 100%;
            margin-top: -20px;
        }
        .images {
            margin-left: -15px;
        }
    }