* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 30px;
    background-color: grey;
    padding: 30px;
    color: white;
    cursor: pointer;
}

img {
    transition: .5s;
    width: auto;
    height: 200px;
}

h1 {
    text-align: center;
    margin: 20px;
}

.img_box {
    overflow: hidden;
    justify-content: center;
    display: flex;
    margin: 10px;
    cursor: pointer;
}

.me {
    cursor: pointer;
}

.l {
    cursor: pointer;
}

.h1 {
    text-align: center;
    padding: 10px;
    text-shadow: 5px 6px 4px rgb(232, 232, 241);
}

.flex_box {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.quti {
    margin: 50px;
}

.s-box {
    width: 30%;
    /* 300px*/
    margin: 20px 5px;
    box-shadow: 5px 8px 4px rgb(63, 63, 67);
    border: 4px solid black;
    padding: 20px 30px 50px;
}


/* singing start */

.containers {
    width: 30%;
    height: 50vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.color {
    margin: 30px 10px 30px 10px;
}

.box2 {
    width: 300px;
    height: auto;
    background-color: #eee;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.778);
}

.col-1 {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslateblue;
    border-radius: 10px 10px 0 0;
    color: #fff;
}

.col-1>.icon>a {
    text-decoration: none;
    color: #fff;
}

.col-2 {
    width: 100%;
    background-color: #fff;
}

.col-2>form {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.col-2>form>input {
    padding: 10px 15px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
}

.col-3 {
    width: 100%;
    padding: 11px;
    font-size: 15px;
    text-align: center;
}


/* singigng end */


/* noila box start */

.flex_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 20 auto;
    /* margin: 20px; */
}

.box3 {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:rgba( 0,0,0,0.5); */
    overflow: hidden;
    border-radius: 26px
}

.box3::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 240%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;
}

.box3::after {
    content: '';
    position: absolute;
    inset: 16px;
    border-radius: 10px;
    background-color: black;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(380deg);
    }
}

.box3 h2 {
    position: relative;
    color: white;
    font-size: 3em;
    color: yellow;
    z-index: 10;
}


/* noila box end */


/* havola start */

.havola_icon {
    margin: 0 auto;
    padding: 0;
    background-color: #ccc;
    perspective: 1000px;
    position: relative;
    padding: 0;
    /* height: 50vh; */
    transition: all 5s;
}

.ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 80%;
}

.ul .li {
    display: inline-block;
    list-style: none;
    margin: 0 40px;
}

.ul .li a {
    font-size: 100px;
    color: black;
    line-height: 80px;
    transition: 5s;
}

.ul .li a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    text-align: center;
    font-size: 1em;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.252);
}

.ul .li a::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    width: 20px;
    height: 100%;
    background-color: rgb(151, 150, 148);
    transform: rotate(0deg) skewY(-45deg);
}

video {
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.ul .li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #bfbfbf;
    bottom: -20px;
    left: -10px;
    transform: rotate(0deg) skew(-45deg);
}

.ul .li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -70px 70px 50px rgba(0, 0, 0, 0.578);
}

.ul .li a:hover .bi {
    color: black;
}

.ul .li:hover:nth-child(1) a::after {
    background-color: rgba(19, 87, 247, 0.837);
}

.ul .li:hover:nth-child(2) a::after {
    background-color: rgba(234, 62, 173, 0.837);
}

.ul .li:hover:nth-child(3) a::after {
    background-color: rgba(255, 255, 0, 0.774);
}

.ul .li:hover:nth-child(4) a::after {
    background-color: rgba(212, 103, 30, 0.916);
}

.ul .li:hover:nth-child(5) a::after {
    background-color: rgba(37, 222, 62, 0.956);
}

.ul .li:hover:nth-child(6) a::after {
    background-color: rgba(213, 39, 39, 0.941);
}

.ul .li:hover:nth-child(1) a::before {
    background-color: rgba(19, 87, 247, 0.837);
}

.ul .li:hover:nth-child(2) a::before {
    background-color: rgba(234, 62, 173, 0.837);
}

.ul .li:hover:nth-child(3) a::before {
    background-color: rgba(255, 255, 0, 0.774);
}

.ul .li:hover:nth-child(4) a::before {
    background-color: rgba(212, 103, 30, 0.916);
}

.ul .li:hover:nth-child(5) a::before {
    background-color: rgba(37, 222, 62, 0.956);
}

.ul .li:hover:nth-child(6) a::before {
    background-color: rgba(213, 39, 39, 0.941);
}

.ul li:hover:nth-child(1) a {
    background-color: rgba(19, 87, 247, 0.837);
}

.ul li:hover:nth-child(2) a {
    background-color: rgba(234, 62, 173, 0.837);
}

.ul li:hover:nth-child(3) a {
    background-color: rgba(255, 255, 0, 0.774);
}

.ul li:hover:nth-child(4) a {
    background-color: rgba(212, 103, 30, 0.916);
}

.ul li:hover:nth-child(5) a {
    background-color: rgba(37, 222, 62, 0.956);
}

.ul li:hover:nth-child(6) a {
    background-color: rgba(213, 39, 39, 0.941);
}


/* havola end */

@media screen and (max-width: 600px) {
    .s-box {
        width: 80%;
        margin: 0 auto;
    }
    .havola_icon {
        padding: 100px 0d;
    }
    .h1 {
        color: white;
        font-size: 1em;
        position: absolute;
        top: 1300px;
        transform: translateY(-40%);
        text-align: center;
        align-items: center;
        display: flex;
        margin: 10px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1005px) {
    .s-box {
        width: 300px;
        height: 450px;
        margin: 20px auto;
    }
    .h1 {
        color: white;
        font-size: 1em;
        position: absolute;
        top: 1300px;
        transform: translateY(-40%);
        text-align: center;
        align-items: center;
        display: flex;
        margin: 10px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 830px) {
    .flex_box2 {
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 425px) {
    .ul li {
        transform: scale(0.5);
    }
}


/* contaner end */