@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    min-height: 100vh;
    background: #E3F2FD;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background: #293447;
    box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.game-details {
    color: #B8C6DC;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    height: 100%;
    width: 100%;
    display: grid;
    background: #212837;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    background: #FF003D;
    border-radius: 50%;
    animation: circle_anim 1s linear infinite;
    transition: all 0.5s;
}

@keyframes circle_anim {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.play-board .head {
    background: #60CBFF;
}

.controls {
    display: none;
    position: fixed;
    bottom: 0;
    left: 30%;
    width: 150px;
    height: 150px;
    background-color: blue;
}

.controls i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.fa-arrow-left-long {
    position: relative;
    top: 50px;
}

.fa-arrow-right-long {
    position: relative;
    top: -50px;
    left: 100px;
}

.fa-arrow-up-long {
    position: relative;
    top: -50px;
    left: 50px;
}

.fa-arrow-down-long {
    position: relative;
    top: -50px;
    left: 50px;
}


/* Samarkand11 */

@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 115vmin;
    }
    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls {
        display: block;
        background-color: transparent;
    }
    .controls i {
        background-color: blue;
        color: white;
    }
}