@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: #e9e9e9;
}

.img_d {
    width: 100%;
    height: auto;
}

.o {
    display: flex;
}

.container {
    width: 81.25%;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(92, 91, 91);
}

.c {
    display: flex;
    align-items: center;
    gap: 8px;
}

.box {
    display: flex;
    color: black;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box_ch {
    margin-top: 100px;
    display: flex;
}

ul {
    display: flex;
    justify-content: end;
    gap: 50px;
    align-items: center;
    width: 100%;
}

a {
    color: rgb(0, 0, 0);
}

.text4 {
    font-family: 'IBM Plex Mono', monospace;
}

img {
    width: 100%;
    height: auto;
}

.text {
    width: 50%;
    margin-left: 5%;
    margin-bottom: 20%;
}

.text1 {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 40px;
    line-height: 83px;
}

.text2 {
    font-family: 'IBM Plex Mono';
    font-weight: 500;
    font-size: 100%;
    color: black;
}

.text1 span {
    color: rgb(136, 90, 26);
}

.text3 {
    width: 100%;
    margin: -31px 140px;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    position: relative;
    z-index: 555;
}

.box2 {
    display: flex;
    /* margin: -70px 0 0 0; */
    position: relative;
}

.онас {
    font-family: 'Gosha Sans';
    font-size: 96px;
    color: black;
    /* margin-top: -30px; */
}

.longtext1 {
    width: 100%;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: black;
}

.longtext2 {
    width: 100%;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: black;
    margin-left: 46px;
}

.bg_img {
    width: 100%;
    margin-left: -100px;
}

.box3 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section {
    position: relative;
}

.t {
    width: 110px;
    font-family: 'Gosha Sans';
    font-size: 32px;
    line-height: 38px;
    color: black;
    mix-blend-mode: normal;
}

.t_s {
    width: 100%;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: black;
    margin-top: 16px;
}

.box4 {
    margin-right: 30px;
}

.box5 {
    width: 30%;
    margin-right: 46px;
}

.box6 {
    width: 100%;
    height: 211px;
    margin: 0 447px 0 0;
    display: flex;
}

.p-t {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Gosha Sans';
    font-size: 96px;
    line-height: 115px;
    color: black;
    mix-blend-mode: normal;
}

.group_calls {
    margin-top: 267px;
    display: flex;
}

.call {
    font-family: 'Gosha Sans';
    font-size: 96px;
    line-height: 115px;
    color: black;
    mix-blend-mode: normal;
}

.gmail {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 48px;
    margin-top: 30px;
    margin-left: 100px;
    line-height: 81px;
    color: black;
}

.img_d {
    width: 50%;
}

.telegram {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 48px;
    line-height: 81px;
    color: black;
    margin-left: 1050px;
}

.help {
    margin-bottom: 280px;
}

.knight {
    width: 80px;
    height: auto;
    mix-blend-mode: multiply;
    filter: contrast(2);
}

@media screen and ( max-width: 1024px) {
    .box_ch {
        display: flex;
        flex-flow: row wrap;
    }
    .call {
        margin-top: -100px;
        font-size: 45px;
    }
    .gmail {
        font-size: 30px;
        margin-top: -90px;
    }
    .telegram {
        font-size: 30px;
    }
    .box3 {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
    }
    .text1 {
        text-align: center;
    }
    .group_calls {
        display: flex;
        flex-flow: row wrap;
    }
    .telegram {
        margin-left: 0%;
    }
    .box {
        width: 100%;
        margin-left: 10%;
    }
    .t2 {
        margin-right: 200px;
        margin-left: 200px;
    }
}

@media screen and ( max-width: 1024px) {
    .group_calls {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .r {
        margin-top: 30px;
    }
    .img_d {
        width: 100%;
        height: auto;
    }
    .knight {
        margin-left: -130px;
    }
    .text {
        width: 100%;
    }
    .box3 {
        margin-left: 130px;
    }
}

@media screen and ( max-width: 768px) {
    .group_calls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-top: 200px;
    }
    .gmail {
        margin-top: -10px;
        margin-right: 90px;
    }
    .knight {
        width: 10%;
    }
}

@media screen and ( max-width: 425px) {
    .group_calls {
        margin-top: 50%;
    }
    .call {
        margin-top: -100px;
        margin-left: -100px;
    }
    .telegram {
        margin-left: -100px;
    }
    .menu {
        display: none;
    }
    .text1 {
        font-size: 24px;
    }
    .box_ch {
        margin-top: 0;
        display: flex;
        flex-flow: row wrap;
    }
    .knight {
        width: 50px;
        margin-left: -20px;
    }
    .box3 {
        margin-left: 0;
    }
    .box5 {
        width: 100%;
        margin-left: 50px;
    }
    .t_s {
        width: 328px;
        margin-left: -40px;
    }
    .t {
        margin-left: 50px;
    }
}

@media screen and ( max-width: 320px) {
    .call {
        margin: 0 auto;
    }
    .gmail {
        margin: 0 auto;
        font-size: 26px;
    }
    .t_s {
        width: 247px;
        margin-left: -40px;
    }
    .text1 {
        text-align: center;
        margin-left: -40px;
        font-size: 20px;
    }
}

@media screen and ( max-width: 375px) {
    .call {
        margin: 0 auto;
    }
    .gmail {
        margin: 0 auto;
        font-size: 26px;
    }
    .t_s {
        width: 247px;
        margin-left: -40px;
    }
    .text1 {
        text-align: center;
        margin-left: -40px;
        font-size: 20px;
    }
}